<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lebron or Kareem?</title>
        <link rel="stylesheet" href="../static/not-passed.css">
    </head>
    <body>
        <section>
        <div class="container">
            <h1 style="font-size: 400%">{{data.full_name}} needs {{data.diff}} more points!</h1>
            <p>Kareem: {{data.kareem_pts}} points</p>
            <p>{{data.first_name}}: {{data.player_pts}} points</p>
            <p>{{data.first_name}} is set to pass Kareem in {{data.games_left}} games if he maintains<br>his current average of {{data.player_ppg}} ppg</p>
        </div>
        </section>
    </body>
</html>