<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lebron or Kareem?</title>
        <link rel="stylesheet" href="../static/passed.css">
    </head>
    <body>
        <section>
            <div class="container">
                <h1 style="text-align:center;color:azure">{{data.full_name}} has {{data.diff}} more points<br>than Kareem!</h1>
                <p style="text-align:center;color:azure"> {{data.full_name}}: {{data.player_pts}} points</p>
                <p style="text-align:center;color:azure"> Kareem: {{data.kareem_pts}} points</p>
            </div>
        </section>
    </body>
</html>